*, *::after, *::before { 
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 10rem);
  grid-template-rows: 15rem 2rem 15rem;
  gap: .5rem;
  cursor: pointer;
  justify-content: center;
  padding-top: 2em;
  background-image: url(./images/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.guide {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: 2em;
  color: white;
  text-shadow: black 0px 0px 10px;
  width: 15em;
  line-height: 1.5rem;
  text-align: justify;
}

.deck {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: .5rem;
  color: white;
  user-select: none;
  text-shadow: orange 0px 0px 10px;
}

.computer-deck {
  background-image: url("./images/cardBack.jpg");
  background-size: 100% 100%;
}

.player-deck {
  background-image: url("./images/cardBack.jpg");
  background-size: 100% 100%;
}

.text {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-weight: bold;
  color: white;
  text-shadow: black 0px 0px 10px;
  font-size: 1.5em;
  font-family: sans-serif;
  border: white solid 1px;
  border-radius: 5px;
  visibility: hidden;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  user-select: none;
  background-color: white;
}

.card.red {
  color: red;
}

.card.black {
  color: black;
}

.card::before,
.card::after {
  position: absolute;
  content: attr(data-value);
  font-size: 1rem;
}

.card::before {
  top: .5rem;
  left: .5rem
}

.card::after {
  bottom: .5rem;
  right: .5rem;
  transform: rotate(180deg);
}


@media (max-width: 880px) { 
  
  .guide {
    display: none;
  }

}